.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-between;
  
}
img{
  height: 350px;
  width: 500px;
}
html{
  font-family: 'Permanent Marker', cursive;
  color: yellow; 
  background-image: url("https://i.ytimg.com/vi/t94XIV_rzYY/hqdefault.jpg");
}
h4{
  font-size: 40px;
}
h3{
  font-size: 30px;
}